---
import '@fontsource-variable/inter';
import '@fontsource/arimo/latin-400.css';
import '@fontsource/arimo/latin-400-italic.css';
import '@fontsource/arimo/latin-700.css';
import '@fontsource/cousine/latin-400.css';
import '@fontsource/cousine/latin-700.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="container mx-auto max-w-screen-sm font-sans">
    <slot />
  </body>
</html>
